        .square {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 100px;
            background-color: black;
            color: transparent;
            margin: 1em;
        }
        
        .square:hover {
            color: white;
        }
        
        .container {
            display: flex;
            flex-wrap: wrap;
        }